#root {
  margin: 0 auto;
  min-width: 100px;
}


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.app-title{
  font-size: 72px;
  color: #fff;
  margin-top: 75px;
  margin-bottom: 50px;
  color: #0ccac4;
  font-family: 'Bigelow Rules', cursive;
}